@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/*Extra small devices (portrait phones, less than 576px)*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
   /* #d4, #d6, #d8, #d10, #d12, #d20 {
        margin-top: 10px;
        max-height: 50%;
        max-width: 50%;
      } */
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {/*
    #d4, #d6, #d8, #d10, #d12, #d20 {
        margin-top: 25px;
        margin-bottom: 25px;
        max-height: 50%;
        max-width: 50%;
      }*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   
    .cards{
        margin-top: 50px;
        min-width: 10%;
        max-width: 10%;
        min-height: 10% !important;
        max-height: 10% !important;
    }
    
    #d4, #d6, #d8, #d10, #d12, #d20 {
            max-height: 100%;
            max-width: 100%;
            margin-top: 10px;
            margin-left: 5px;
            margin-right: 5px;
            
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
       
}

#navigation {
    border-bottom: 2px solid red;
    height: 90px;
    z-index: 1;
}

a.navbar-brand {
    border-top: -5px;
    border-bottom: -5px;
    margin-left: 5px;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: auto;
}

/* Adjusting height of list items */

.nav-item {
    text-align: right;
    font-size: 1.1rem;
    color: rgba(255, 0, 0);
    padding: 5px 5px 5px 5px;
}

#navbarUl {
    margin-top: 10px;
}

#tweety, #dice {
    max-height: 48px;
    max-width: 48px;
}

#desc {
    text-align: left;
    margin-top: 24px;
    padding-top: 24px;
    border-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgba(255, 0, 0);
    
}

#pick {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: red;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Cards are below */

#dice-cards-container {
    margin-top: 10px;
}

.cards{
    margin-top: 25px;
    min-width: 25%;
    max-width: 25%;
    
}


#d4, #d6, #d8, #d10, #d12, #d20{
  height: auto;
  width: auto;
  min-width: 75%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  
}

#dice:hover, #d4:hover, #d6:hover, #d8:hover, #d10:hover, #d12:hover, #d20:hover {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}

.card-body {
    padding: 10px;
    text-align: center;
}
.card-text{
    margin-left: 5px;
    font-size: 1rem;
}

#textCounter {
    display: none;
}

