@import url('https://fonts.googleapis.com/css?family=Rubik:700,900&display=swap');

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  overflow-x: hidden;
}
.container {
  resize: both;
  background-color: white;
  position: absolute;
  width: 2000px;
  height: -80px;
  max-height: 100px;
  max-width: 2000px;
  color: red;
  border-bottom: 2px solid red;
}

#logo {
  position: absolute;
  top: 3%;
  margin: 0px 0px 0px 0px;
  left: -200px;
  padding: 0px;
  height: 100px;
  width: 225px;
  max-width: 205px;
  max-height: 80px;
}

#desc {
  display: none;
  position: absolute;
  padding: 10px 10px 10px 10px;
  left: 160px;
  top: 40px;
  margin: 0px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color: solid red;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: .08em;
}

#beta {
  display: none;
  position: absolute;
  font-weight: bold;
  float: right;
  top: 51px;
  right: 175px;
  left: 1025px;
}

#tweety {
  display: none;
  top: 30px;
  position: absolute;
  right: 120px;
  max-height: 50px;
  max-width: 50px;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  white-space: nowrap;
}

/* Everything below are the sheets*/
/*First Sheet */

#pick {
  position: absolute;
  text-align: center;
  top: 5px;
  padding: 20px;
  margin: 5px 5px 5px 5px;
  display: inline-block;
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: rgb(255, 0, 0);  
}

#the-sheet {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  top: 200px;
  left: 250px;
  right: 250px;
  height: 400px;
  width: 1000px;
  background-color: #FFFAFA; 
  font-family: 'Open Sans', sans-serif;
  border: 1px solid red;
  
}

#dice-cont {
  height: 300px;
  display: flex;
  margin: 10px 0px 10px 0px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#d4img, #d6img, #d8img, #d10img, #d12img, #d20img {
  width: 125px;
  height: 125px;
  margin: 5px 5px 5px 5px;
  transition: 0.5s;
}



#d4:hover, #d6:hover, #d8:hover, #d10:hover, #d12:hover, #d20:hover {
  cursor: pointer;
  opacity: 50%;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.counters {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  


  height: 30px;
  width: 30px;
  top: 275px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
.clicked {
    position: absolute;
    opacity: 1;
    visibility: visible;
    height: 30px;
    width: 30px;
    top: 275px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}


/* Second Sheet */

#second-sheet {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 250px; 
  right: 250px;
  border-radius: 25px;
  top: 650px;
  height: 500px;
  width: 1000px;
  background-color: #FFFAFA; 
  font-family: 'Open Sans', sans-serif;
  border: 1px solid red;
}

#ss_desc {
  position: absolute;
  text-align: center;
  top: 10px;
  padding: 20px;
  margin: 5px 5px 5px 5px;
  display: inline-block;
  position: absolute;

  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: rgb(255, 0, 0);
}

.ss_text {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: rgb(255, 0, 0);
}

div#proficiency {
  position: absolute;
  height: 25px;
  width: 75px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  height: 150px;
  width: 200px;
  top: 75px;
  left: 15px;
  overflow: visible;
}

div#modifier {
  position: absolute;
  height: 25px;
  width: 75px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  height: 150px;
  width: 200px;
  top: 75px;
  left: 150px;
}

div#other {
  position: absolute;
  height: 25px;
  width: 75px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  height: 150px;
  width: 200px;
  top: -6px;
  left: 165px;

}

#txtarea {
  position: absolute;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  top: 125px;
  left: -10px;
  resize: none;
  margin: auto;
}

.selects{ 
  width: 100px;
  margin: 3px 3px 3px 3px;
  overflow: visible;
}

